<div class="header-component">
  <mat-toolbar color="primary">
    <mat-toolbar-row class="header-toolbar-row">
      <span class="title">My Family Shopping List</span>
      <mat-icon class="menu-icon" (click)="toggleMenu()">{{this.menuIsOpened ? 'close' : 'menu'}}</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav [mode]="'over'">
      <mat-nav-list>
        <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <p *ngFor="let content of fillerContent">{{content}}</p>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
